<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  
  <p>
    Splurty was built by <a target="_blank" href="http://github.com/Zjohn64">Zach Johnson</a>. Zach is an aspiring web developer looking to gain skills so that he can work from anywhere in the world.
  </p>
  <br />
  <p>
    If you want to learn to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p> 
<div class="row">
 <div class="col-12 col-sm-4">
  <%= image_tag 'Zach.jpg', class: 'img-fluid' %>
 </div>

 <div class="col-12 col-sm-7 offset-sm-1">
   <h2 class="text-center">Zach Johnson</h2>
   <br />
   <p>
     Zach Johnson is a lover of all things sports and games. He is hoping to use his new coding talents to create apps and website for other sports nuts.
   </p>
  </div>
 </div>
 <br class="clear" />
 <br />
 <br />
 <br />
 <br />






</div>